<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Github Search</title>
  <%- include index_style.ejs %>
  <%- include index_script.ejs %>
</head>

<body>
<div class="container" style="...">
  <!--logo & head-->
  <div class="header">
    <h1>Github Search</h1>
    <!--input box-->
    <div class="input-group">
      <input type="text" class="form-control" id="input-box" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
      <div class="input-group-append" id="button-addon4">
        <!--buttons-->
        <button class="btn btn-outline-secondary" type="button" id="search">Search</button>
        <button class="btn btn-outline-secondary" type="button" id="save">Save</button>
        <button class="btn btn-outline-secondary" type="button" id="delete">Delete</button>
        <form action="/login" method="get">
          <button class="btn btn-outline-secondary" type="submit">logout</button>
        </form>
      </div>
    </div>
    <!--error msg-->
    <div id="error-msg" class="alert alert-danger" style="display: none;"></div>

    <!--data-->
    <div class="row">
      <!--details from github site-->
      <div class="col-sm-6">
        <div class="card" id="details" style="display: none">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>login</h5>
                <div id="login"></div>
              </li>
              <li class="list-group-item">
                <h5>Repositories</h5>
                <ol id="repositories"></ol>
              </li>
              <li class="list-group-item">
                <h5>Followers</h5>
                <ol id="followers"></ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--users saved list-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Saved</h5>
            <ol id="saved list"></ol>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>